* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: #f7f8fc;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

.navbar h2 {
    color: #3e5cfc;
}

.navbar nav {
    display: flex;
    gap: 20px;
}

.navbar nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.icons {
    display: flex;
    align-items: center;
}

.medication-overview {
    background-color: #fff;
    padding: 30px;
    margin: 20px;
    border-radius: 20px;
}

.medication-overview h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
}

.medication-overview p {
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

.medications {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
}

.medication-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease;
}

.medication-item:hover {
    transform: translateY(-10px);
    background-color: #d0eaff; /* Light blue background on hover */
}

.medication-info {
    font-size: 1rem;
}

.medication-info h3 {
    color: #3e5cfc;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.medication-info p {
    font-size: 0.9rem;
    color: #333;
}

.medication-status {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2rem;
}

.medication-status i {
    font-size: 2rem;
    color: yellow;
}

.medication-status.completed i {
    color: #10cc64;
}

.medication-status span {
    font-weight: bold;
}

.download-report {
    text-align: center;
    margin-top: 20px;
}

.download-report button {
    padding: 10px 30px;
    background-color: #3e5cfc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.download-report button:hover {
    background-color: #1e90ff;
}

@media (max-width: 768px) {
    .medications {
        flex-direction: column;
    }
}

.navbar .animate {
    gap: 50px;
}

.navbar .animate a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    margin-right: 20px;
    transition: all 0.3s ease;
    position: relative;
    gap: 50px;
}

.navbar .animate a:hover {
    color: #1e90ff;
    transform: scale(1.1);
}
